@import '../assets/animation';

#install-button, #install-button:hover {
  @include transition('all 300ms ease');
}

#install-button {
  background-color: #2ecc71;
  border-radius: 10px 0 0;
  bottom: 0;
  cursor: pointer;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  position: absolute;
  right: 0;
}

#install-button:hover {
  background-color: #16a085;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}
