* { box-sizing: border-box; }

@font-face {
  font-family: 'Montserrat';
  src: url('../Montserrat.ttf');
}

html, body {
  background-color: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}
