textarea, input:not([type="checkbox"]) {
  border: 0;
  color: #fff;
  padding: 1em;
  width: 30em;
}

textarea { height: 7em; }
p { margin: 15px 4em; margin-top: 0; }
.save-button {
  position: fixed;
  bottom: .25em;
  left: .25em;
  font-size: 18px;
}

.save-button:active {
  position: fixed;
  bottom: .15em;
  top: inherit;
}

.preview-container {
  position: relative;
  display: inline-block;
}

.preview-container:hover .preview-image {
  cursor: pointer;
  opacity: .4;
}

.preview-container:hover::before {
  align-items: center;
  color: #fff;
  content: "Remove?";
  display: flex;
  font-family: monospace;
  font-size: 32px;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#custombg_uploader {
  background: transparent;
}

#custombg_previews .preview-image {
  width: 250px; height: 140px;
  margin: .25em .5em;
}
