:root {
  --font-size-global: 24px;
  --font-family-global: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --margin-text: -10px;
  --link-prefix: "-> ";
}

.terminal {
  background: #000;
  font-family: var(--font-family-global);
  margin: .75em;
  overflow: auto;
}

.terminal a:hover { text-decoration: underline; }
.terminal a {
  display: inline-block;
}

.terminal .fullscreen { background: transparent; }

.terminal .center-object {
  animation: none;
  left: inherit;
  position: relative;
  top: inherit;
  transform: none;
}

.terminal .fullscreen .me {
  width: auto;
  justify-content: none;
}

.terminal .me {
  display: block;
  padding: 0;
}

/* General information */
.terminal #js-time { color: #2ecc71; }
.terminal #js-date { color: #3498db; }

.terminal #js-time::before { content: "[TIME] "; }
.terminal #js-date::before { content: "[DATE] "; letter-spacing: 1.25px; }
.terminal #js-time::before, .terminal #js-date::before {
  color: #fff;
}

.terminal .time {
  font-size: var(--font-size-global);
  transition: none;
}

/* Weather information */
.terminal .weather-container img { display: none; }
.terminal #wtime-container { margin-top: 0; }
.terminal .weather-container {
  animation: none;
  position: relative;
  display: block;
  left: 0;
  top: 0;
  margin-top: var(--font-size-global);
}

.terminal .wtext-container {
  position: relative;
  left: 0;
  display: flex;
  width: auto;
  flex-direction: column;
}

.terminal .wtext-container .terminal_break {
  display: flex;
  margin-top: var(--margin-text);
  flex-direction: row;
}

.terminal .wdiff { display: block; }
.terminal .wtext-container * {
  font-size: var(--font-size-global);
  margin: 0;
  margin-right: .5em;
}

.terminal .wtext-container { margin-top: 1em; }

.terminal .wtext-container #wname { color: #2ecc71; }

.terminal .wtext-container #wname::before { color: #fff; content: "[WEATHER] "; }
.terminal .wtext-container #wdescription::after { content: " |"; }
.terminal .wtext-container #wdescription::before { color: #fff; content: "- NOW - "; }

.terminal #wdescription, .terminal #wtemp,
.terminal .wtext-container #wdescription::after { color: #29b866; }

.terminal .wdiff:nth-child(1) .wdetails { color: #25a35a; }
.terminal .wdiff:nth-child(2) .wdetails { color: #208f4f; }
.terminal .wdiff:nth-child(3) .wdetails { color: #1c7a44; }
.terminal .wdiff:nth-child(4) .wdetails { color: #176639; }

.terminal #wtime-container .wdiff {
  animation: none;
  font-size: var(--font-size-global);
  margin-bottom: 0;
  margin-top: var(--margin-text);
  opacity: 1;
}

.terminal .wdiff .text {
  font-size: var(--font-size-global);
  margin-left: 0;
}

/* Google links */
.terminal #googleapps a img { display: none; }
.terminal #googleapps a:hover { transform: none; }

.terminal #googleapps {
  bottom: inherit;
  position: relative;
  margin-top: var(--font-size-global) !important;
}

.terminal #googleapps a {
  animation: none;
  transition: none;
  opacity: 1;
  font-family: var(--font-family-global);
  font-size: var(--font-size-global);
}

.terminal #googleapps .buttons {
  align-items: flex-start;
  animation: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  text-align: left;
  translate: none;
}

.terminal #googleapps a { color: #3498db; margin: 0; margin-top: var(--margin-text); }
.terminal #googleapps a::before { color: #fff; content: var(--link-prefix); }
.terminal #googleapps a:nth-child(1)::after { content: "Google Docs"; }
.terminal #googleapps a:nth-child(2)::after { content: "Google Sheets"; }
.terminal #googleapps a:nth-child(3)::after { content: "Google Slides"; }


/* Quick links */
.quicklink.load { animation: none; }
.terminal .quicklink-icon { display: none; }
.terminal .quicklink {
  background-color: transparent;
  height: auto;
  margin-top: var(--margin-text);
  opacity: 1;
  padding: 0;
  transform: none;
  transition: none;
}

.terminal #quicklinks {
  display: inline-flex;
  flex-direction: column;
  font-family: var(--font-family-global);
  font-size: var(--font-size-global);
  margin-top: var(--font-size-global);
  position: relative;
}

.terminal .quicklink-txt::before { color: #fff; content: var(--link-prefix); }
.terminal .quicklink-txt {
  margin-right: 0;
}

.terminal #settings {
  bottom: inherit;
  font-family: var(--font-family-global);
  font-size: var(--font-size-global);
  height: auto;
  position: relative;
  transform: none;
}

/* Kill responsive */
@media (max-width: 750px) {
  .terminal .button { flex-flow: nowrap; }
  .terminal .buttons .btn { display: block; text-align: left; padding: 0; height: 38px; line-height: normal; }
}
