/* Import font */
@font-face {
  font-family: "Lato";
  src: url('Lato.ttf') format('truetype');
}

/* Animation */
@keyframes enter-page {
  from {
    transform: translate(-50%, 40%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes enter-weather {
  from {
    left: -100px; opacity: 0;
  }

  100% {
    left: 10px; opacity: 1;
  }
}

/* Global */
* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}
body {
	overflow: hidden;
}

.center-object { animation: enter-page 1s ease-in-out; }

/* Background */
.fullscreen .center-object { position: fixed; }
#js-bg {
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 500ms ease-out;
  opacity: 0;
}

/* Clock */
.time {
  font-family: "Lato", sans-serif, Arial;
  font-size: 13vmin;
  margin: 0;
  transition: all .5s ease;
}

/* Google apps */
#googleapps {
  bottom: -2em;
  display: none;
  position: absolute;
  width: 100%;
}

.buttons { display: none; }

#googleapps img {
  margin: 0 1em;
  height: 62px;
  width: 48.5px;
}

.btn {
  padding: 0;
  width: auto;
  height: auto;
}

@media (max-width: 750px) {
  .buttons { flex-flow: row nowrap; }
}

/* Input Box */
.form-box {
  margin-top: 2em;
  padding-top: 1.3em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}

input[type="text"], input[type="text"]:not(:focus) {
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  color: #ddd;
  font-size: 1.5em;
  outline: none;
  padding: .5em;
  transition: all 500ms ease;
  width: 15em;
}

input[type="text"]:focus, input[type="text"]:focus::placeholder {
  background: transparent;
  border-radius: 0;
  color: #fff;
  transition: all 500ms ease;
  width: 20em;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.4);
  transition: all 500ms ease;
}

input[type="text"]:focus, input[type="text"]:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  transition: all 500ms ease;
}

/* Install button */
#install-button, #install-button:hover {
  transition: all 300ms ease;
}

a#install-button { color: #fff; }

#install-button {
  background-color: #2ecc71;
  border-radius: 10px 0 0;
  bottom: 0;
  cursor: pointer;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  position: absolute;
  right: 0;
}

#install-button:hover {
  background-color: #16a085;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}


/* Weather placeholder */
.weather-container {
  animation: enter-weather 1s ease-in-out;
  position: absolute;
  top: 10px;
  left: 10px;
}

.wtext-container {
  top: 3px;
  left: 90px;
  position: absolute;
  width: 400px;
}

.wtext-container * {
  margin: -7px;
  font-size: 20px;
}

#wicon {
  height: 72px;
  width: 72px;
}

/* Quick links */
#quicklinks {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.quicklink {
  display: flex;
  opacity: .6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 25px;
  height: 42px;
  background-color: #F5F3F1;
  padding: 5px;
  align-items: center;
  transition: .4s;
  transform: translateX(calc(100% - 50px));
}

#settings {
  box-sizing: border-box;
  position: fixed;
  margin: 0;
  right: 0;
  bottom: 25px;
}

#quicklinks.compact .quicklink, #settings {
  transform: translateX(calc(100% - 39px));
  margin-top: 10px;
  height: 30px;
}

.quicklink.load {
  animation: quicklink-enter .8s;
}

#quicklinks.compact .quicklink.load {
  animation: quicklink-enter-compact .8s;
}

.quicklink-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-right: 8px;
  margin-left: 5px;
}

#quicklinks.compact .quicklink-icon, #settings .quicklink-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-left: 3px;
}

.quicklink-txt {
  margin-right: 10px;
}

.quicklink:hover {
  opacity: 1;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transform: translateX(0)!important;
}

@keyframes quicklink-enter {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(calc(100% - 50px));
  }
}

@keyframes quicklink-enter-compact {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(calc(100% - 39px));
  }
}
